.product{
    display: flex;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    margin-left: 10px;
    font-weight: 400;
}
.main-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}